.Header {
    top: 0;
    position: sticky;
    background: #021311;
    height: 13%;
    width: 100%;
    z-index: 10;
    mix-blend-mode: normal;
}
.AboutLink {
    position: absolute;
    width: 80px;
    height: 35px;
    left: 58%;
    top: 22%;
    text-decoration: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #707070;
}

.ProjectsLink {
    position: absolute;
    width: 80px;
    height: 35px;
    left: 68%;
    top: 22%;
    text-decoration: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #707070;
}

.ContactLink {
    position: absolute;
    width: 80px;
    height: 35px;
    left: 78%;
    top: 22%;
    text-decoration: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #707070;
}
