.App {
  text-align: center;
}

.header_link {
  margin-right: 20px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
  background-color: #899CBA;
  outline: none;
  border: none;
  color: #ECEDED;
}

.header_link:hover{
  border-bottom: 3px solid #353A6E;
  color: #353A6E;
}
.resumeButton{
  text-decoration: none;
  border-radius: 15px;
  background-color: #899CBA;
  border: 2px solid #353A6E;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: #353A6E;
  font-size: 30px;
}
.content{
  display: grid;
}

.navbar{
  background-color: #899CBA;
}

.sticky{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.selected {
  border-bottom: 3px solid #353A6E;
  color: #353A6E;
}

.section {
  overflow: hidden;
  background-color: #353A6E;
}

#Home{
  margin: -1px;
  padding: 1px;
  border: none;
  min-height: 88vh;
  text-align: center;
}

#About {
  margin: -1px;
  padding: 1px;
  border: none;
  padding-top: 10%;
  min-height: 88vh;
  text-align: center;
  display: block;
}

#Projects {
  margin: -1px;
  padding: 1px;
  border: none;
  min-height: 100vh;
  text-align: center;
  display: block;
}

#Contact {
  margin: -1px;
  padding: 1px;
  border: none;
  min-height: 94vh;
  text-align: center;
  display: block;
}

.homePBox{
  margin-top: 20%;
  min-width: 90%;
  max-height: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.homeP {
  overflow: hidden;
  height: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  vertical-align: middle;
  color: #ECEDED;
}

.nameContainer{
  font-size: 25px;
  justify-content: center;
  width: 100%;
  display: grid;
  padding-right: 2%;
}

.name {
  white-space: nowrap;
  width: 0;
  border-right: .15em solid #ECEDED;
  margin-top: 7.5%;
  overflow: hidden;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  color: #ECEDED;
  animation: typing 1.5s steps(30, end) forwards, blinking 0.875s infinite;
}

@keyframes blinking {
  0% {border-color: transparent}
  50% {border-color: #ECEDED}
  100% {border-color: transparent}
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%; }
}

.aboutHeader{
  font-family: 'Roboto Mono';
  font-size: 1.8rem;
  font-weight: 800;
  padding-top: 35%;
  color: #ECEDED;
}

.aboutP{
  margin-top: 4%;
  margin-left: 19.5%;
  width: 61%;
  font-family: "Roboto Slab";
  font-size: 26px;
  color: #ECEDED;
  margin-right: 19.5%;
  padding-bottom: 4%;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeinP{
  transition: opacity ls ease;
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s; /* Opera */
}

.hidden{
  display: none;
}

.homeBox{
  margin-top: 10%;
  margin-left: 17.5%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(46, 48, 79);
  display: block;
  min-height: 10%;
  min-width: 65%;
  margin-right: 17.5%;
  box-shadow: 0 4px 8px 0 rgba(13, 13, 13, 0.2);
  padding-bottom: 5vh;

}

.aboutCardDiv{
  margin-top: -3%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: -10%;
  display: inline-block;
  background-color: #353A6E;
  min-height: 88vh;
  min-width: 50%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.projectsHeader{
  padding-top: 4%;
  font-family: 'Roboto Mono';
  font-size: 1.8rem;
  color: #ECEDED;
}


.aboutImg{
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.fill{
  align-items: center;
  margin-top: 30px;
  min-height: 3%;
  width: 100%;
  background-color: rgb(46, 48, 79);
  border-radius: 10px;
}

.aboutImgDiv{
  width: 50%;
  overflow: hidden;
  position: absolute;
  top: -1px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  padding-bottom: 0;
}

.aboutContent{
  border-radius: 10px;
}

.contactHeader{
  padding-top: 4%;
  padding-bottom: 2%;
  font-family: 'Roboto Mono';
  font-size: 1.8rem;
  color: #ECEDED;
}

.cardLeftImg{
  margin-left: -4%;
  padding-right: -4%;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cardRightImg{
  margin-right: -4%;
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.leftpDiv{
  padding-top: 4%;
  width: 50%;
  justify-content: center;
}

.rightpDiv{
  padding-top: 4%;
  width: 50%;
  justify-content: center;
}

.projTitle{
  margin-top: 10px;
  font-family: 'Roboto Mono';
  font-size: 1.3em;
  color: #353A6E;
}

.projectsCardDiv{
  margin-top: 4%;


}

.projectLeftp{
  padding-top: 2%;
  margin-left: 25%;
  font-family: 'Roboto Slab';
  max-width: 50%;
}

.projectRightp{
  padding-top: 2%;
  margin-left: 25%;
  font-family: 'Roboto Slab';
  max-width: 50%;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px;
  background-color: #899CBA;
  margin-bottom: 5%
}

.container{
  min-width: 80%;
}


.col-sm-6{
  min-width: 50%;
}

.contactDiv{
  margin-top: 5%;
  border-radius: 10px;
  height: 25%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(46, 48, 79);
  box-shadow: 0 4px 8px 0 rgba(13, 13, 13, 0.2);
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.container-contact{
  background-color: rgb(46, 48, 79);
  justify-content: center;
}

.contactLogo{
  height: 50px;
  width: auto;
  padding-bottom: 5%;
}

.contactTitle{
  padding-top: 5%;
  font-family: 'Roboto Mono';
  font-size: 1.3em;
  color: #ECEDED;
}

.infoContainer{
  margin-top: 5%;
  min-height: 25%;
  background-color: #99965A;
  border-radius: 10px;
  margin-bottom: 10%;
}

.contactText{
  font-family: 'Roboto Slab';
  font-size: 1.1em;
  padding-bottom: 9.5%;
  display: inline-block;
  color: rgb(46, 48, 79);
}

.copyrightText{
  padding-top: -2vh;
  background-color: #353A6E;
  color: #ECEDED;
  padding-bottom: 1%;
}