.overall {
  background-color: #021311;
}
.App {
  text-align: center;
}
.header_link {
  padding: 10px;
  text-decoration: none;
  font-family: Oswald;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  background-color: #021311;
  outline: none;
  border: none;
  color: #707070;
}
.resumeButton{
  text-decoration: none;
  border-radius: 15px;
  background-color: #00262E;
  border: 2px solid #0F786B;
  cursor: pointer;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  color: #0F786B;
  font-size: 28px;
}

.header {
  display: flex;
  justify-content: center;
}
