.App {
  text-align: center;
}
.header_link {
  margin-right: 4.1%;
  padding: 10px;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  background-color: #798187;
  outline: none;
  border: none;
  color: #ECEDED;
}
.resumeButton{
  text-decoration: none;
  border-radius: 15px;
  background-color: #171418;
  border: 2px solid #171418;
  cursor: pointer;
  font-family: Roboto, Helvetica, Arial, sans-serif;;
  font-style: normal;

  color: #ECEDED;
  font-size: 30px;
  margin: 10px
}
.content{
  display: grid;
}
.header {
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  justify-content: center;
  min-height: 12%;
  background-color: #798187;
}

.sticky{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.selected {
  border-bottom: 3px solid #1D1F21;
  color: #1D1F21;
}

.section {
  background-color: #171418;
}

#Home{
  height: 92vh;
  text-align: center;
}

#About {
  min-height: 88vh;
  text-align: center;
  display: block;
}

#Projects {
  min-height: 100vh;
  text-align: center;
  display: block;
}

.homeP {
  margin-left: 10%;
  padding-top: 10%;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  width: 80%;
  vertical-align: middle;
  color: #ECEDED;
}
.aboutHeader{
  padding-top: 5%;
  font-family: 'Oswald';
  font-size: 2rem;
  color: #ECEDED;
}

.aboutP{
  margin-top: 4%;
  margin-left: 19.5%;
  width: 61%;
  font-family: Roboto, Helvetica, Arial, sans-serif;;
  font-size: 28px;
  color: #1D1F21;
  margin-right: 19.5%;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeinP{
  transition: opacity ls ease;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.hidden{
  display: none;
}

.homeBox{
  margin-top: 10%;
  margin-left: 25%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #6C707B;
  display: block;
  min-height: 10vh;
  min-width: 50vw;
  margin-right: 25%;
  box-shadow: 0 4px 8px 0 rgba(13, 13, 13, 0.2);
  padding-bottom: 5vh;

}

.aboutCardDiv{
  padding-top: 1%;
  margin-left: 10%;
  background-color: #ECEDED;
  width: 80%;
  border-radius: 5px;
}

.projectsHeader{
  padding-top: 4%;
  font-family: 'Oswald';
  font-size: 2rem;
  color: #ECEDED;
}

/*
.aboutImg{
  height: auto;
  min-width: 50%;
}
*/